# Cloudflare
.dev.vars
wrangler.jsonc
.wrangler/
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
test/
.pytest_cache

# Local IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
